@charset "UTF-8";

/*Mobile style */
@media only screen and (max-width: 480px) {
    #navicon {
        text-align: center;
        display: block;
    }

    .nav ul {           /* displays nav icon as block type only on mobile devices and only appears on mobile devices as well */
        display: none;          /* hides contents of nav list when nav icon is dipslayed*/
    }

    #navicon:hover+ul, .nav ul:hover {
        display: block;
    }
        .nav ul li {
            display: block;/* sets submenus to be hidden until below enables it to function by being hovered over */
        }
    .nav:hover + ul li {
        display: block;
    }
    /* mobile body styles */
    body {
    background-color: rgb(213, 230, 246);
    width: 90%;         /* sets to 95% of the browser window. */
  }
  html {
      background-color: rgb(213, 230, 246);
      height: 80%;
      font-family: Verdana, Geneva, sans-serif;
      font-size : 0.5em;
      color: white;
  }
  /* body header styles */

  body > header > img {
      display: block;
      width: 635px;
  }
  body > header > .nav li {
  	width: 15%;   /* sets width of navigation list item to 20% */
  }
  /*navigation list styles*/

  .nav li { /* makes list item float with a block display on left hand side */
      display: block;
      float: center;
      text-align: center;
  }

  .nav a {
     display: block;
     font-size: 20px;
     background-color:rgb(120, 61, 0);
     text-align: center;
     text-decoration: none;
     padding-right: 30px;
     padding-top: 10px;
     padding-bottom: 15px;
     border: 1px solid black;
     width: 605px;
  }

  .nav a:link, .nav a:visited {
     color: white; /* text color*/
  }

  .nav a:hover, .nav a:active {
     background-color: rgb(110, 175, 0);  /* color shown when hovered over */
  }
  }
