@charset "utf-8";

/* css sheet for images*/

/*Photo placement*/
figure img {
	display: block;
	width: 100%;
}
figure#HomeImage1 {
  display: block;
  margin: 10px 20px;
  padding-top: 150px;
	padding-bottom: 200px;
	width: 40%;
}
