@charset "UTF-8";


/* Styles */
article, aside, footer, header, nav, section{
	display: block;
}
article, aside, blockquote, body, em, footer, header, html, img, li, nav, ol, p, section, span, ul {
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
h1, h2, h3, h4, h5 {
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	text-align: center;
	font-size: 26px;
}
p, section {
	font-size: 16px;
}
