@charset "UTF-8";

/*
    Authors: John Beil and Jason Clark
    Filename: Stylesheet



*/

/* page body styles */

/*Desktop style*/
@media only screen and (min-width: 769px) {
    #navicon
    {
      display: none;
    }
    body {
    padding-bottom: 600px;
    background-color: rgb(213, 230, 246);
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 100%;         /* sets to 95% of the browser window. */
  }
  html {
      background-image: url(background_all.png);
      background-color: rgb(141,79,58);
      height: 100%;
      font-family: Verdana, Geneva, sans-serif;
      font-size : 12px;
      color: white;
  }
  /* body header styles */

  body > header > img {
      display: block;
      width: 100%;
  }
  body > header > .nav li {
  	width: 25%;                /* sets width of navigation list item to 20% */
  }
  /*navigation list styles*/

  .nav li { /* makes list item float with a block display on left hand side */
      display: block;
      float: left;
      text-align: center;
  }

  .nav a {
     display: block;
     font-size: 26px;
     background-color:rgb(120, 61, 0);
     text-align: center;
     text-decoration: none;
  }

  .nav a:link, .nav a:visited {
     color: white; /* text color*/
  }

  .nav a:hover, .nav a:active {
     background-color: rgb(110, 175, 0);  /* color shown when hovered over */
  }
}
/*id placements for home page */
/* plan on changing divs to section id's and modify placement that way eventually */


/*placements for history page */
#Historyh1 {
  padding: 10px;
  background-color:rgb(120, 61, 0);
  position: absolute;
  display: block;
  left: 300px;
  top: 300px;
}

#HistoryList {
  padding: 20px;
  padding-left: 40px;
  background-color: rgb(120, 61, 0);
  position: absolute;
  display: block;
  left: 300px;
  top: 300px;
}
#historyh2 {
  background-color: rgb(120, 61, 0);
  position: absolute;
  display: block;
  left: 300px;
  top: 300px;

}
#Historyp1 {
  background-color: rgb(120, 61, 0);
  position: absolute;
  display: block;
  left: 200px;
  top: 200px;
}
#Historyp2 {
  background-color: rgb(120, 61, 0);
  position: absolute;
  display: block;
  left: 300px;
  top: 300px;

}
#Historyp3 {
  background-color: rgb(120, 61, 0);
  position: absolute;
  display: block;
  left: 300px;
  top: 300px;

}
/*placements for cost of gaming page */





/*placements for Future of Gaming page */
#FutureGaming {/* first section id placement */
  background-color: rgb(120, 61, 0);
  padding: 20px;
  position: absolute;
  display: block;
  left: 200px;
  top: 300px;
  width: 40%
}
/*column width for page adjustments */
.Nav {   /* sets width of nav menu for layout */
  width: 100%;
}
.left-column {
  float: left;
  padding-left: 30px;
  width: 30%;
  padding-top: 20px;
}
.right-column {
  float: right;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 60%;
}
.Homebottom2 {
  margin-left: 20px;
  margin-top: 20px;
  float: left;
  clear: both;
  padding-left: 30px;
  width: 90%;
  padding-top: 20px;
}
/*element position within columns */
.footer {
  clear: both;
  float: left;
  width: 100%;
  background-color: rgb(120, 61, 0);
}
.HomeLeft {
  background-color: rgb(120, 61, 0);
  border-radius: 20px;
  padding: 20px;
}
.HomeRight1 {
  background-color: rgb(120, 61, 0);
  border-radius: 20px;
  padding: 20px;
  width: 93%;
}
.Homebottom2 {
  text-align: center;
  background-color: rgb(120, 61, 0);
  border-radius: 20px;
  padding: 20px;
}
