@charset "UTF-8";

/* css sheet for images*/

/*Photo placement home page*/



/*photo placement future page*/
#GamingPC {
  padding: 20px;
  width: 65%;
}
#arcade {
  padding: 20px;
  width: 75%;

}
#nes {
  width: 75%;
}
#pubg {
  padding: 20px;
  width: 55%;
}
#mariokart {
  padding: 20px;
  width: 56%;
}
#brownbox {
  width: 100%;
}
#ps4Pro {
  width: 50%;
  padding: 20px;
}
