@charset "UTF-8";


/* Styles */
article, aside, footer, header, nav, section{
	display: block;
}
article, aside, blockquote, em, body, footer, header, html, img, li, nav, ol, section, span, ul {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}



h1, h2, h3, h4, h5 {
  text-decoration: underline;
	margin: 0;
	vertical-align: middle;
	text-align: center;
	font-size: 36px;
}
p {
	text-decoration: none;
	font-size: 26px;
}
