@charset "UTF-8";

/* css sheet for images*/

/*Photo placement home page*/



/*photo placement future page*/
#GamingPC {
  width: 25%;
}
#arcade {
  width: 25%;

}
#nes {
  width: 25%;
}
#pubg {
  width: 25%;
}
#mariokart {
  width: 26%;
}
#brownbox {
  width: 100%;
}
